<!-- START: header -->
<header role="banner" class="probootstrap-header">
    <div class="container-fluid">
        <!-- <div class="row"> -->
        <a href="#" class="probootstrap-logo">Puhceo<span>.</span></a>

        <a href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
            <ul class="probootstrap-main-nav">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Registro</a></li>
                <li><a href="#">Paciente</a></li>
                <li><a href="#">Ingresar</a></li>
                <li class="probootstrap-cta"><a href="#">Salir</a></li>
            </ul>
            <div class="extra-text visible-xs">
                <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
                <h5>Social</h5>
                <ul class="social-buttons">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-instagram2"></i></a></li>
                </ul>
                <p><small>&copy; Copyright 2017. All Rights Reserved.</small></p>
            </div>
        </nav>

        <section class="probootstrap-intro">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="probootstrap-animate">Historia Clinica Ocupacional Electronica Unificada </h1>
                        <div class="probootstrap-subtitle probootstrap-animate">
                            <h2>Trabajo de Grado <a href="http://www.politecnicojic.edu.co/" target="_blank">Politecnico Jaime Isaza Cadavid</a></h2>
                        </div>
                        <p class="watch-intro probootstrap-animate"><a href="https://www.youtube.com/watch?v=Km_LFu90FdQ" class="popup-vimeo">Ver video <i class="icon-play2"></i></a></p>
                    </div>
                </div>
            </div>
        </section>

        <!-- </div> -->
    </div>


</header>
<!-- END: header -->

<section class="probootstrap-section probootstrap-feature-first">
    <div class="container">
        <div class="row mb70" style="margin-top: -120px;">
            <div class="col-md-4 probootstrap-animate">
                <div class="probootstrap-box">
                    <div class="icon"><i class="icon-presentation"></i></div>
                    <h3>Business presentation</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
            </div>
            <div class="col-md-4 probootstrap-animate">
                <div class="probootstrap-box">
                    <div class="icon"><i class="icon-bargraph"></i></div>
                    <h3>Business growth</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
            </div>
            <div class="col-md-4 probootstrap-animate">
                <div class="probootstrap-box">
                    <div class="icon"><i class="icon-megaphone2"></i></div>
                    <h3>Standout from the crowd</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 probootstrap-animate">
                <p class="text-center">
                    <a href="#" class="btn btn-primary btn-lg btn-block" role="button">Get started</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- END: section -->



<!-- START: section -->

<!-- END: section -->

<!-- START: section -->

<!-- END: section -->

<!-- START: section -->

<!-- END: section -->
<!-- START: section -->

<!-- END: section -->



<!-- START: footer -->
<footer role="contentinfo" class="probootstrap-footer">
    <div class="container">
        <div class="row">


            <div class="col-md-4">
                <div class="probootstrap-footer-widget">
                    <h3>Contact</h3>
                    <ul class="probootstrap-contact-info">
                        <li><i class="icon-location2"></i> <span>198 West 21th Street, Suite 721 New York NY 10016</span></li>
                        <li><i class="icon-mail"></i><span>info@domain.com</span></li>
                        <li><i class="icon-phone2"></i><span>+123 456 7890</span></li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="row mt40">
            <div class="col-md-12 text-center">
                <ul class="probootstrap-footer-social">
                    <li><a href=""><i class="icon-twitter"></i></a></li>
                    <li><a href=""><i class="icon-facebook"></i></a></li>
                    <li><a href=""><i class="icon-instagram2"></i></a></li>
                </ul>
                <p>
                    <small>&copy; 2017 <a href="https://uicookies.com/" target="_blank">uiCookies:Sublime</a>. All Rights Reserved. <br> Designed &amp; Developed by <a href="https://uicookies.com/" target="_blank">uicookies.com</a> Demo Images: Unsplash</small>
                </p>

            </div>
        </div>
    </div>
</footer>
<!-- END: footer -->